global
    maxconn 65536
    tune.bufsize 8192

defaults
    log     global
    mode    http
    timeout connect 5s
    timeout client  50s
    timeout server  50s
    # Upgraded (101) connections

frontend www
    bind *:10089
    default_backend swerve

# swerve --http=127.0.0.1:10003 --trusted-proxy=127.0.0.1
backend swerve
    http-reuse always
    option forwardfor
    http-request set-header X-Forwarded-Proto http
    server swerve1 127.0.0.1:10003
